<!-- Header -->
<header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a  class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/">ADMIN-SNAPUP</a>
  
      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1 "> 
          <!-- Navigation Links -->
          <li>
            <a class="px-2" routerLink="/admin/dashboard" routerLinkActive="text-indigo-400" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          </li>
          <li>
            <a class="px-2" routerLink="/admin/adduser" routerLinkActive="text-indigo-400" [routerLinkActiveOptions]="{exact:true}">Add user</a>
          </li>
          <li>
            <a class="px-2" *ngIf="adminAuth.isAdminAuthenticated$ | async" (click)="adminAuth.logout($event)">Logout</a>
          </li>
        </ul>
        
      </div>
    </nav>
  </header>